fastapi
uvicorn[standard]
httpx
pydantic
pytest
mcp[cli]

opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-system-metrics
